{% extends "base.html" %}
{% block content %}
    {% with ''|center:5 as range %}
    <!-- Swiper -->
    <div class="swiper-container mySwiper mt-3" >
        <div class="swiper-wrapper" style="background-color: #000;">
            {% for _ in range %}
            <div class="swiper-slide swiperNum{{ forloop.counter }}" id="twoPics">
                <img src="/static/ana/123.png">
            </div>
            {% endfor %}
        </div>
        <div class="swiper-pagination" style="background-color: #000;"></div>
    </div>
    <div class="swiper-button-next" style="padding: 0 2rem 0 0;"></div>
    <div class="swiper-button-prev" style="padding: 0 0 0 2rem;"></div>
    <div class="swiper-scrollbar"></div>
    {% endwith %} 
{% endblock %}