<section>
  <div class="title" id="myHeader">
    <h1 style="font-weight:100 !important;">Team 4</h1>
    <nav role="navigation" class="primary-navigation">
      <ul>
        <li><a href="/index/">首頁</a></li>
        <li><a href="/adoptPets/">領養專區</a></li>
        <li><a href="/lostPets/">走失協尋</a></li>
        <li><a href="#">分析 &dtrif;</a>
          <ul class="dropdown">
            <li><a href="/analysis/">..1</a></li>
            <li><a href="/analysisBreed/">..2</a></li>
          </ul>
        </li>
        <li><a href="/dogBreed/">品種辨識</a></li>
        <li><a href="#">我要刊登 &dtrif;</a>
          <ul class="dropdown">
            <li><a href="/upload/">領養資訊</a></li>
            <li><a href="/uploadLost/">走失協尋</a></li>
          </ul>
        </li>
      </ul>
    </nav>
  </div>
</section>