{% extends "base.html" %}

{% block title %}韭菜觀測站{% endblock %}
{% block headmessage %} <h3>🏃‍♀️{{ct.name}}🏃</h3> {% endblock %}
{% block content %}
    {% for item in companies %}
        <a href="/stockInfo/{{item.code}}/" class="btn btn-sm btn-outline-warning"> {{item.name}}</a>
    {% endfor %}
    <form action="/stockInfo/" method="POST">
        {% csrf_token %}
        <select name="comp">
        {% for item in companies %}
            <option value="{{item.code}}">{{item.name}}</option>
        {% endfor %}
        </select>
        <input type="submit" value="送出"> 
    </form>
    <hr>
{% endblock %}