{% extends "base.html" %}

{% block title %}韭菜觀測站{% endblock %}
{% block headmessage %} <h3>{{company.code}}  {{company.name}}📈 </h3> {% endblock %}
{% block content %}
<div class="row">
    <div class="col">
        <canvas id="myChart" width="400" height="150"></canvas>
    </div>
    <div class="col">
        {% autoescape off %}
        {{ plot_div }}
        {% endautoescape %}
    </div>
</div>

<script>
const ctx = document.getElementById('myChart').getContext('2d');
const myChart = new Chart(ctx, {
    type: 'line',
    data: {
        labels: [
        {% for price in stockPrices %}
            '{{price.dateinfo}}',
        {% endfor %}    
        ],
        datasets: [{
            label: '{{company.name}} 股價資訊',
            data: [
            {% for price in stockPrices %}
                {{price.close_price}},
            {% endfor %}
            ],
            backgroundColor: [
                'rgba(255, 99, 132, 0.2)',
                'rgba(54, 162, 235, 0.2)',
                'rgba(255, 206, 86, 0.2)',
                'rgba(75, 192, 192, 0.2)',
                'rgba(153, 102, 255, 0.2)',
                'rgba(255, 159, 64, 0.2)'
            ],
            borderColor: [
                'rgba(255, 99, 132, 1)',
                'rgba(54, 162, 235, 1)',
                'rgba(255, 206, 86, 1)',
                'rgba(75, 192, 192, 1)',
                'rgba(153, 102, 255, 1)',
                'rgba(255, 159, 64, 1)'
            ],
            borderWidth: 1
        }]
    },
    options: {
        scales: {
            y: {
                beginAtZero: true
            }
        }
    }
});
</script>

    <table class="table  table-sm table-striped text-center">
        <tr>
            <td>日期</td>
            <td>收盤價</td>
            <td>成交量</td>
        </tr>
        
        {% for price in last50 %}
        <tr>
            <td>{{price.dateinfo}}</td>
            <td>{{price.close_price}}</td>
            <td>{{price.volume}}</td>
        </tr>
        {% endfor %}
    </table>  
     
{% endblock %}